.container {
    display: flex;
    gap: 1em;

    .imgPortrait {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
