.container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    }
}
