.container {
    display: flex;
    flex-direction: column;
    gap: 14px;

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        display: flex;
        align-items: center;
    }

    a {
        line-height: 1.6;
    }
}
