@import './foundation';
@import './base';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    max-width: 1280px;
    min-height: 100vh;
    padding: 16px;
    margin: 0 auto;
    text-align: center;
}

body[data-theme='theme-light'] {
    --theme-color: #f3ebf6;
    --text-color: #000000;
}

body[data-theme='theme-dark'] {
    --theme-color: #242424;
    --text-color: #ffffffde;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

    background-color: var(--theme-color);
    color: var(--text-color);
}

h1 {
    font-size: 32px;
    line-height: 1.1;
}

h2 {
    font-size: 24px;
    line-height: 1.2;
}

p {
    font-size: 14px;
    line-height: 1.2;
    text-align: justify;
}

a:hover {
    text-decoration: underline !important;
}

#theme-light {
    a {
        font-weight: 500;
        text-decoration: inherit;
        color: rgba(0, 0, 0, 0.87);
    }

    a:hover {
        color: rgba(0, 0, 0, 0.87);
    }
}

#theme-dark {
    a {
        font-weight: 500;
        color: #ffffff;
        text-decoration: inherit;
    }

    a:hover {
        color: #ffffff;
    }
}
