.container {
    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        display: flex;
        margin-bottom: 8px;
    }

    .description {
        margin-bottom: 4px;
    }

    .date {
        opacity: 0.5;
    }
}
