.container {
    display: flex;
    text-align: left;
    margin-bottom: 16px;
    flex: 1;

    :last-child {
        margin-bottom: 0;
    }

    .date {
        p {
            width: 110px;
        }
    }

    .details {
        display: flex;
        flex-direction: column;

        .title {
            margin-bottom: 14px;
        }

        .descList {
            margin-bottom: 6px;

            :not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}
